@import "tailwindcss";

/* WebTUI */
@layer base, utils, components;
@import "@webtui/css/base.css";
@import "@webtui/css/components/badge.css";
@import "@webtui/css/utils/box.css";
@import "@webtui/css/components/tooltip.css";
@import "@webtui/css/components/button.css";

/* WebTUI Theme */
@import "@webtui/theme-catppuccin";

/* Nextra */
@import "nextra-theme-blog/style.css";

@variant dark (&:where(.dark *));

@layer base {
	:root {
		--font-family: "JetBrainsMono", monospace;
		--tooltip-delay: 0.4s;
		@apply scroll-smooth;
	}

	button,
	[is-~="button"] {
		@apply cursor-pointer;
	}
}

@layer utils {
	.wrapper {
		@apply max-w-5xl px-4 mx-auto;
	}

	[box-~="square"],
	[box-~="round"],
	[box-~="double"] {
		--box-border-color: var(--background1);
	}
}

.section {
	@apply flex flex-col mt-10;
}

.section-title {
	@apply mx-auto text-[var(--background0)] font-semibold text-xl;
}

button[title="Copy code"] {
	@apply h-auto! [color:var(--text)]! [background-image:none]!;
}

details summary h3 {
	@apply m-0! text-base!;
}

span[data-highlighted-line] {
	@apply [background:var(--background0)]!;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

dialog {
	--dialog-offset-x: 2ch;
	--dialog-offset-y: 2lh;
}
