@import "tailwindcss";

/* WebTUI */
@layer base, utils, components;
@import "@webtui/css/base.css";
@import "@webtui/css/components/badge.css";
@import "@webtui/css/utils/box.css";
@import "@webtui/css/components/tooltip.css";
@import "@webtui/css/components/button.css";

/* WebTUI Theme */
@import "@webtui/theme-catppuccin";

@layer base {
	:root {
		--font-family: "JetBrainsMono", monospace;
		--tooltip-delay: 0.4s;
	}

	button,
	[is-~="button"] {
		@apply cursor-pointer;
	}
}

@layer utils {
	.wrapper {
		@apply max-w-5xl px-4 mx-auto;
	}

	[box-~="square"],
	[box-~="round"],
	[box-~="double"] {
		--box-border-color: var(--background1);
	}
}
